# Задание №1

In [1]:
import pandas as pd
import datetime
from datetime import datetime
import locale # используем для написания месяца на русском яз.

In [2]:
#сохраним в переменные путь к файлу и лист excel, с которым далее будем работать
path = '/Users/naukh/Тестовые АД/Задание 1.xlsx'
sheet = 'Данные от врачей'

In [3]:
excel_data_df = pd.read_excel(path, sheet_name=sheet)

In [4]:
# посмотрим что получилось, чтобы выявить ошибки
excel_data_df.head(5)

                             ФИО                   ДР Дата Осмотра Состояние
0        ФОМИЧЕВ ГОРДЕЙ НАУМОВИЧ  2000-02-13 00:00:00   2020-10-10   Болен\n
1  ХАРИТОНОВА ВЕРОНИКА ТАРАСОВНА  1977-11-07 00:00:00   2020-10-10   здоров
2     Сорокина Амелия Тимофеевна           12.09.1978   2020-10-10   здоров
3      Тарасов Гавриил Тихонович  1942-04-11 00:00:00   2020-10-20   Болен\n
4     Завьялова Елена Степановна  2002-09-11 00:00:00   2020-10-20     болен

In [5]:
# Nan нет, работаем дальше значений нет
excel_data_df.isna().sum()

ФИО             0
ДР              0
Дата Осмотра    0
Состояние       0
dtype: int64

In [6]:
# посмотрели тип данных, однозначно ДР не в том формате
excel_data_df.dtypes

ФИО                     object
ДР                      object
Дата Осмотра    datetime64[ns]
Состояние               object
dtype: object

In [7]:
#размер таблицы. Дальше будем использовать для контроля
excel_data_df.shape

(33477, 4)

In [8]:
# проверим данные на дубли
excel_data_df.loc[excel_data_df.duplicated()]

Empty DataFrame
Columns: [ФИО, ДР, Дата Осмотра, Состояние]
Index: []

### Преобразование данных в колонке "ФИО"

Поработаем ФИО (разбить по столбцам, привести к одному виду, убрать лишние пробелы и '\n');

In [9]:
#Скопируем df в новый, всегда будет с чем сравнить выполненные модификации. Пришлось сделать глубокую копию, поскольку  
#модификации нового df затрагивали данные старого
excel_data_df_mod = excel_data_df.copy(deep=True)

In [10]:
excel_data_df_mod.head(5)

                             ФИО                   ДР Дата Осмотра Состояние
0        ФОМИЧЕВ ГОРДЕЙ НАУМОВИЧ  2000-02-13 00:00:00   2020-10-10   Болен\n
1  ХАРИТОНОВА ВЕРОНИКА ТАРАСОВНА  1977-11-07 00:00:00   2020-10-10   здоров
2     Сорокина Амелия Тимофеевна           12.09.1978   2020-10-10   здоров
3      Тарасов Гавриил Тихонович  1942-04-11 00:00:00   2020-10-20   Болен\n
4     Завьялова Елена Степановна  2002-09-11 00:00:00   2020-10-20     болен

In [11]:
# Убрала переносы, пробелы в начале и конце строки, привела к одному виду вывод, рассплитовала по пробелу (получился список)
excel_data_df_mod['ФИО'] = excel_data_df_mod['ФИО']. \
                                    apply(lambda x: x.replace("/n'",''). \
                                    strip().upper().split())

In [12]:
excel_data_df_mod.head(5)

,ФИО,ДР,Дата Осмотра,Состояние
0,"[ФОМИЧЕВ, ГОРДЕЙ, НАУМОВИЧ]",2000-02-13 00:00:00,2020-10-10,Болен\n
1,"[ХАРИТОНОВА, ВЕРОНИКА, ТАРАСОВНА]",1977-11-07 00:00:00,2020-10-10,здоров
2,"[СОРОКИНА, АМЕЛИЯ, ТИМОФЕЕВНА]",12.09.1978,2020-10-10,здоров
3,"[ТАРАСОВ, ГАВРИИЛ, ТИХОНОВИЧ]",1942-04-11 00:00:00,2020-10-20,Болен\n
4,"[ЗАВЬЯЛОВА, ЕЛЕНА, СТЕПАНОВНА]",2002-09-11 00:00:00,2020-10-20,болен

In [13]:
# создадим новые колонки в df, выберем в них нужные значения из списка, полученного выше. 
excel_data_df_mod['Фамилия'], excel_data_df_mod['Имя'], excel_data_df_mod['Отчество']  = [i[0] for i in excel_data_df_mod['ФИО']], \
                                                                                         [i[1] for i in excel_data_df_mod['ФИО']], \
                                                                                         [i[2] for i in excel_data_df_mod['ФИО']]

In [14]:
#проверим результат, колонку ФИО удалять не буду (df.drop(columns = 'column_1', axis = 1))
excel_data_df_mod.head(5)

,ФИО,ДР,Дата Осмотра,Состояние,Фамилия,Имя,Отчество
0,"[ФОМИЧЕВ, ГОРДЕЙ, НАУМОВИЧ]",2000-02-13 00:00:00,2020-10-10,Болен\n,ФОМИЧЕВ,ГОРДЕЙ,НАУМОВИЧ
1,"[ХАРИТОНОВА, ВЕРОНИКА, ТАРАСОВНА]",1977-11-07 00:00:00,2020-10-10,здоров,ХАРИТОНОВА,ВЕРОНИКА,ТАРАСОВНА
2,"[СОРОКИНА, АМЕЛИЯ, ТИМОФЕЕВНА]",12.09.1978,2020-10-10,здоров,СОРОКИНА,АМЕЛИЯ,ТИМОФЕЕВНА
3,"[ТАРАСОВ, ГАВРИИЛ, ТИХОНОВИЧ]",1942-04-11 00:00:00,2020-10-20,Болен\n,ТАРАСОВ,ГАВРИИЛ,ТИХОНОВИЧ
4,"[ЗАВЬЯЛОВА, ЕЛЕНА, СТЕПАНОВНА]",2002-09-11 00:00:00,2020-10-20,болен,ЗАВЬЯЛОВА,ЕЛЕНА,СТЕПАНОВНА

In [15]:
#Лишнюю колонку удалить
excel_data_df_mod = excel_data_df_mod.drop(columns = 'ФИО', axis = 1)

In [16]:
excel_data_df_mod.head()

,ДР,Дата Осмотра,Состояние,Фамилия,Имя,Отчество
0,2000-02-13 00:00:00,2020-10-10,Болен\n,ФОМИЧЕВ,ГОРДЕЙ,НАУМОВИЧ
1,1977-11-07 00:00:00,2020-10-10,здоров,ХАРИТОНОВА,ВЕРОНИКА,ТАРАСОВНА
2,12.09.1978,2020-10-10,здоров,СОРОКИНА,АМЕЛИЯ,ТИМОФЕЕВНА
3,1942-04-11 00:00:00,2020-10-20,Болен\n,ТАРАСОВ,ГАВРИИЛ,ТИХОНОВИЧ
4,2002-09-11 00:00:00,2020-10-20,болен,ЗАВЬЯЛОВА,ЕЛЕНА,СТЕПАНОВНА

In [17]:
excel_data_df_mod.query("Фамилия=='КЛЮЕВ' and Имя=='ЕВГЕНИЙ' and Отчество=='ЕВГЕНЬЕВИЧ'")

                        ДР Дата Осмотра Состояние Фамилия      Имя    Отчество
20159  1979-01-07 00:00:00   2020-10-10     Болен   КЛЮЕВ  ЕВГЕНИЙ  ЕВГЕНЬЕВИЧ
27376  1979-01-07 00:00:00   2020-10-20   Болен\n   КЛЮЕВ  ЕВГЕНИЙ  ЕВГЕНЬЕВИЧ

### Преобразование данных в колонке "ДР"

Привести формат данных в колонке "ДР" к дате

In [18]:
# дальше по заданию в отчет даты рождения надо выгружать в виде 'ММ/ДД/ГГГГ'
excel_data_df_mod['ДР'] = [pd.to_datetime(i, dayfirst=True, infer_datetime_format=True).strftime("%#m/%#d/%Y")  \
                                          if isinstance(i, str) \
                                          else i.strftime("%#m/%#d/%Y") for i in excel_data_df_mod['ДР']]

In [19]:
excel_data_df_mod.head(10)

           ДР Дата Осмотра Состояние     Фамилия       Имя    Отчество
0   2/13/2000   2020-10-10   Болен\n     ФОМИЧЕВ    ГОРДЕЙ    НАУМОВИЧ
1   11/7/1977   2020-10-10   здоров   ХАРИТОНОВА  ВЕРОНИКА   ТАРАСОВНА
2   9/12/1978   2020-10-10   здоров     СОРОКИНА    АМЕЛИЯ  ТИМОФЕЕВНА
3   4/11/1942   2020-10-20   Болен\n     ТАРАСОВ   ГАВРИИЛ   ТИХОНОВИЧ
4   9/11/2002   2020-10-20     болен   ЗАВЬЯЛОВА     ЕЛЕНА  СТЕПАНОВНА
5   3/17/2011   2020-10-20     болен     КРУГЛОВ   ВАСИЛИЙ  ВАСИЛЬЕВИЧ
6    8/4/1941   2020-10-20   Болен\n      МИНАЕВ     ПАВЕЛ   ТИХОНОВИЧ
7   9/22/1942   2020-10-20    Здоров      ПАВЛОВ   ДМИТРИЙ   КОРНЕЕВИЧ
8  11/14/1959   2020-10-10   Болен\n     АРХИПОВ  ВЯЧЕСЛАВ  ВАЛЕРИЕВИЧ
9   3/17/1951   2020-10-10     Болен  ВЛАДИМИРОВ      ОЛЕГ  МИХАЙЛОВИЧ

In [20]:
# не убирала раньше лидирующие 0 в датах, надо проверить, что не убрала корректные 0.
excel_data_df_mod.query("Фамилия=='КЛЮЕВ' and Имя=='ЕВГЕНИЙ' and Отчество=='ЕВГЕНЬЕВИЧ'")

             ДР Дата Осмотра Состояние Фамилия      Имя    Отчество
20159  1/7/1979   2020-10-10     Болен   КЛЮЕВ  ЕВГЕНИЙ  ЕВГЕНЬЕВИЧ
27376  1/7/1979   2020-10-20   Болен\n   КЛЮЕВ  ЕВГЕНИЙ  ЕВГЕНЬЕВИЧ

In [21]:
# проверим тип данных
excel_data_df_mod.dtypes

ДР                      object
Дата Осмотра    datetime64[ns]
Состояние               object
Фамилия                 object
Имя                     object
Отчество                object
dtype: object

### Преобразование данных в колонке "Дата Осмотра"

In [22]:
# проверим максимальную дату осмотра, зафиксированного в df. ТЗ не противоречит. 
excel_data_df_mod['Дата Осмотра'].max()

Timestamp('2020-10-20 00:00:00')

In [23]:
# проверим минимальную дату осмотра, зафиксированного в df. ТЗ не противоречит.
excel_data_df_mod['Дата Осмотра'].min()

Timestamp('2020-10-10 00:00:00')

In [24]:
# проверим уникальные значения
excel_data_df_mod['Дата Осмотра'].unique()

array(['2020-10-10T00:00:00.000000000', '2020-10-20T00:00:00.000000000',
       '2020-10-12T00:00:00.000000000'], dtype='datetime64[ns]')

In [25]:
# изменит формат вывода даты как в ТЗ
excel_data_df_mod['Дата Осмотра'] = [i.strftime("%d %b. ") for i in excel_data_df_mod['Дата Осмотра']]

In [26]:
excel_data_df_mod.head(5)

          ДР Дата Осмотра Состояние     Фамилия       Имя    Отчество
0  2/13/2000     10 Oct.    Болен\n     ФОМИЧЕВ    ГОРДЕЙ    НАУМОВИЧ
1  11/7/1977     10 Oct.    здоров   ХАРИТОНОВА  ВЕРОНИКА   ТАРАСОВНА
2  9/12/1978     10 Oct.    здоров     СОРОКИНА    АМЕЛИЯ  ТИМОФЕЕВНА
3  4/11/1942     20 Oct.    Болен\n     ТАРАСОВ   ГАВРИИЛ   ТИХОНОВИЧ
4  9/11/2002     20 Oct.      болен   ЗАВЬЯЛОВА     ЕЛЕНА  СТЕПАНОВНА

### Преобразование данных в колонке "Состояние"

In [27]:
#посмотрим, что лежит в колонке 'Состояние'. Должно быть немного вариантов заполнения
excel_data_df_mod['Состояние'].unique()

array(['Болен\n', ' здоров ', 'болен', 'Здоров', 'Болен', ' здоров'],
      dtype=object)

В поле "Состояние" убрать  перенос '\n', пробелы лишние, привести к одному виду оформление текста

In [28]:
# заменила перенос на '', удалила лишние пробелы в начале и конце строки
excel_data_df_mod['Состояние'] = excel_data_df_mod['Состояние']. \
                                 apply(lambda x: x.replace("/n'",''). \
                                 replace(" ",'').strip().title())

In [29]:
# Проверим результат преобразования
excel_data_df_mod['Состояние'].unique()

array(['Болен', 'Здоров'], dtype=object)

In [30]:
excel_data_df_mod.head(5)

          ДР Дата Осмотра Состояние     Фамилия       Имя    Отчество
0  2/13/2000     10 Oct.      Болен     ФОМИЧЕВ    ГОРДЕЙ    НАУМОВИЧ
1  11/7/1977     10 Oct.     Здоров  ХАРИТОНОВА  ВЕРОНИКА   ТАРАСОВНА
2  9/12/1978     10 Oct.     Здоров    СОРОКИНА    АМЕЛИЯ  ТИМОФЕЕВНА
3  4/11/1942     20 Oct.      Болен     ТАРАСОВ   ГАВРИИЛ   ТИХОНОВИЧ
4  9/11/2002     20 Oct.      Болен   ЗАВЬЯЛОВА     ЕЛЕНА  СТЕПАНОВНА

In [31]:
excel_data_df.shape[0] == excel_data_df_mod.shape[0]

True

### Определим пол человека

In [32]:
# Для определения пола будем использовать отчество. Хотя это явно нерабочий вариант для иностранных имен.

In [33]:
# посмотрим уникальные окончания отчеств списка людей. Для всех людей с отчеством оканчивающимся на 'ИЧ' укажем пол мужской,
# для людей, чье отчество заканчивается на 'на' - женский. Остальных пропустим, увидим в сводной таблице
print(set([i[-2:]for i in excel_data_df_mod['Отчество']]))

{'ИЧ', 'НА'}

In [34]:
excel_data_df_mod['Пол'] = ['муж' if i[-2:] == 'ИЧ' else 'жен' for i in excel_data_df_mod['Отчество']]

In [35]:
excel_data_df_mod.head()

          ДР Дата Осмотра Состояние     Фамилия       Имя    Отчество  Пол
0  2/13/2000     10 Oct.      Болен     ФОМИЧЕВ    ГОРДЕЙ    НАУМОВИЧ  муж
1  11/7/1977     10 Oct.     Здоров  ХАРИТОНОВА  ВЕРОНИКА   ТАРАСОВНА  жен
2  9/12/1978     10 Oct.     Здоров    СОРОКИНА    АМЕЛИЯ  ТИМОФЕЕВНА  жен
3  4/11/1942     20 Oct.      Болен     ТАРАСОВ   ГАВРИИЛ   ТИХОНОВИЧ  муж
4  9/11/2002     20 Oct.      Болен   ЗАВЬЯЛОВА     ЕЛЕНА  СТЕПАНОВНА  жен

In [36]:
excel_data_df_mod['Пол'].unique()

array(['муж', 'жен'], dtype=object)

### Сводная таблица по больным

In [37]:
#Запишем df для создания сводной таблицы.
df_for_pivot = excel_data_df_mod.query("Состояние == 'Болен'"). \
                                 groupby(['Дата Осмотра', 'Пол'], as_index = False). \
                                 agg({'Фамилия':'count'})
df_for_pivot.head()

  Дата Осмотра  Пол  Фамилия
0     10 Oct.   жен     4985
1     10 Oct.   муж     4934
2     12 Oct.   жен     1261
3     12 Oct.   муж     1249
4     20 Oct.   жен     2251

In [38]:
df_for_pivot.dtypes

Дата Осмотра    object
Пол             object
Фамилия          int64
dtype: object

In [39]:
pivot_table = df_for_pivot.pivot_table(index = 'Пол', columns = 'Дата Осмотра', \
                                       values = 'Фамилия', aggfunc = 'sum',      \
                                       margins=True, margins_name = 'Всего').     \
                                       drop('Всего', axis=1)

In [40]:
# Есть расхождения с ТЗ по виду по шапки
pivot_table

Дата Осмотра  10 Oct.   12 Oct.   20 Oct.
Пол
жен               4985      1261      2251
муж               4934      1249      2129
Всего             9919      2510      4380

### Заполнение листа "Отчет"

In [41]:
# задание реализовано в ноутбуке. Форма отличается от ТЗ. Далее выгрузим ее для адаптизации формы по требования
excel_data_df_mod.head()

          ДР Дата Осмотра Состояние     Фамилия       Имя    Отчество  Пол
0  2/13/2000     10 Oct.      Болен     ФОМИЧЕВ    ГОРДЕЙ    НАУМОВИЧ  муж
1  11/7/1977     10 Oct.     Здоров  ХАРИТОНОВА  ВЕРОНИКА   ТАРАСОВНА  жен
2  9/12/1978     10 Oct.     Здоров    СОРОКИНА    АМЕЛИЯ  ТИМОФЕЕВНА  жен
3  4/11/1942     20 Oct.      Болен     ТАРАСОВ   ГАВРИИЛ   ТИХОНОВИЧ  муж
4  9/11/2002     20 Oct.      Болен   ЗАВЬЯЛОВА     ЕЛЕНА  СТЕПАНОВНА  жен

In [64]:
list(excel_data_df_mod)

['ДР', 'Дата Осмотра', 'Состояние', 'Фамилия', 'Имя', 'Отчество', 'Пол']

In [65]:
df_report = excel_data_df_mod.pivot_table(index = ['Фамилия', 'Имя', 'Отчество'], columns = ['Дата Осмотра'], values = ['Состояние'], aggfunc = 'max', fill_value= 'Здоров').reset_index()

In [66]:
df_report

             Фамилия       Имя    Отчество Состояние
Дата Осмотра                                10 Oct.  12 Oct.  20 Oct.
0             АВДЕЕВ   АРКАДИЙ  МАКСИМОВИЧ    Здоров   Здоров   Здоров
1             АВДЕЕВ     БОРИС    НАУМОВИЧ    Здоров   Здоров   Здоров
2             АВДЕЕВ     БОРИС  ЭДУАРДОВИЧ     Болен   Здоров   Здоров
3             АВДЕЕВ    ЕЛИСЕЙ   ДЕНИСОВИЧ    Здоров   Здоров    Болен
4             АВДЕЕВ    ЛЕОНИД  ВАСИЛЬЕВИЧ    Здоров   Здоров   Здоров
...              ...       ...         ...       ...      ...      ...
20239          ЯШИНА  КАТЕРИНА  ЭДУАРДОВНА    Здоров   Здоров   Здоров
20240          ЯШИНА     ЛИДИЯ  НИКОЛАЕВНА    Здоров   Здоров    Болен
20241          ЯШИНА   НАДЕЖДА  ТИМОФЕЕВНА    Здоров   Здоров   Здоров
20242          ЯШИНА      НИНА  ТИМОФЕЕВНА    Здоров   Здоров   Здоров
20243          ЯШИНА  СТЕФАНИЯ  ЕВГЕНЬЕВНА     Болен   Здоров   Здоров

[20244 rows x 6 columns]

In [67]:
from openpyxl import Workbook

In [72]:
path_report = '/Users/naukh/Тестовые АД/report_3.xlsx'

In [73]:
writer = pd.ExcelWriter(path_report)

In [74]:
df_report.to_excel(writer)

In [75]:
writer.save()